@import url('https://fonts.googleapis.com/css2?family=Koulen&display=swap');

* {
  box-sizing: border-box;
}

.vizitka {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: 'Koulen', cursive;
  border: 2px groove black;
}

.photo {
  width: 150px;
}

.info {
  display: flex;
  gap: 50px;
}

.icon {
  width: 50px;
}

.contact {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
}
