@import url('https://fonts.googleapis.com/css2?family=Koulen&display=swap');

* {
  box-sizing: border-box;
}

.vizitka {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: 'Koulen', cursive;
  border: 2px groove black;
  width: 300px;
  margin: auto;
  margin-top: 40px;
}

.photo {
  width: 150px;
}

.status {
  margin: 0;
}

.info {
  display: flex;
  justify-content: center;
  gap: 40px;
  margin-right: 40px;
}

.contact {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
}

.icon {
  width: 50px;
  cursor: pointer;
}

a:hover {
  margin: 3px;
}

ul {
  text-align: center;
  list-style: none;
}
